/ly thuyet/bai3/nbproject/private/
/ly thuyet/bai3/build/
/phieu bai tap/bai 4/Bài tập thực hành- phiếu bài 4-20220328/bai3_phieu4_quanlynhanvien/nbproject/private/
/phieu bai tap/bai 4/Bài tập thực hành- phiếu bài 4-20220328/bai3_phieu4_quanlynhanvien/build/
/phieu bai tap/bai 4/bai4/nbproject/private/
/phieu bai tap/bai 4/bai4/build/
/phieu bai tap/bai 4/Phieu4_Bai3_29_NguyenXuanHoang/nbproject/private/
/phieu bai tap/bai 4/Bai4-Phieu3_Java8-29-NguyenXuanHoang/nbproject/private/
/phieu bai tap/bai 4/Bai4-Phieu3_Java8-29-NguyenXuanHoang/build/
/kiem tra/made3/nbproject/private/
/kiem tra/made3/build/
/kiem tra/de1/nbproject/private/
/kiem tra/de1/build/
/kiem tra/de4/nbproject/private/
/kiem tra/de4/build/
/kiem tra/made2/nbproject/private/
/kiem tra/made2/build/
/nhom 10/code/SinhVIen/nbproject/private/
/nhom 10/code/SinhVIen/build/
